@keyframes menuDrop {
	0% {
		opacity: 0;
		transform-origin: top;
		transform: scaleY(0);
	}

	100% {
		opacity: 1;
		transform-origin: top;
		transform: scaleY(1);
	}
}
@keyframes menuJump {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes appearing{
	from{opacity: 0;}
	to{opacity: 1;}
}